---
layout: default
---

<div class="home tron">

  <div class="row">
    <div class="column one-fifth">
      <nav id="js-nav">
        <ul class="sidebar-list no-bullets">
          <li><a href="#installing">Installing</a></li>
          <li><a href="#updating">Updating</a></li>
          <li><a href="#foundation">Foundation</a></li>
          <li><a href="#layout">Layout</a></li>
          <li><a href="#typography">Typography</a></li>
          <li><a href="#variables">Variables</a></li>
          <li><a href="#colors">Colors</a></li>
          <li><a href="#buttons">Buttons</a></li>
          <li><a href="#inputs">Inputs</a></li>
          <li><a href="#tables">Tables</a></li>
          <li><a href="#to-do">To Do</a></li>
          <li><a href="#back-to-top" class="scroll-to-top">Back to top</a></li>
        </ul>
      </nav>
    </div>

    <div class="column four-fifths content">
      {% include installing.html %}
      {% include updating.html %}
      {% include foundation.html %}
      {% include layout.html %}
      {% include typography.html %}
      {% include variables.html %}
      {% include colors.html %}
      {% include buttons.html %}
      {% include inputs.html %}
      {% include tables.html %}
      {% include to-do.html %}
    </div>
  </div>

</div
