<a id="buttons"></a>
<h2 class="section-title">Default Buttons</h2>
<div class="section">
  <p>
    Default button styling. Add classes <code>.btn</code> and <code>.default</code> for this styling.
  </p>

  <a class="btn default">click me</a>

  <button class="btn default">MOTHAFUCKIN BUTTON</button>

  <input type="submit" class="btn default">

  <input type="reset" class="btn default">

  <div class="view-code">
    <a class="view-code-link">View Code</a>

{% highlight html %}
<a class="btn default">click me</a>

<button class="btn default">MOTHAFUCKIN BUTTON</button>

<input type="submit" class="btn default">

<input type="reset" class="btn default">
{% endhighlight %}
  </div>

</div>

<h2 class="section-title">Button Colors</h2>
<div class="section">
  <p>
  To change the color of a button, remove the <code>.default</code> class add a color class (e.g. <code>.orange</code>).
  </p>

  <a class="btn orange">click me</a>

  <button class="btn purple">MOTHAFUCKIN BUTTON</button>

  <input type="submit" class="btn green">

  <input type="reset" class="btn red">

  <div class="view-code">
    <a class="view-code-link">View Code</a>

{% highlight html %}
<a class="btn orange">click me</a>

<button class="btn purple">MOTHAFUCKIN BUTTON</button>

<input type="submit" class="btn green">

<input type="reset" class="btn red">
{% endhighlight %}
  </div>
</div>

<h2 class="section-title">Button Sizes</h2>
<div class="section">
  <p>
    To change the size of a button, add class <code>.large</code> or <code>.small</code>.
  </p>

  <a class="btn default large">large button</a>

  <button class="btn purple">MOTHAFUCKIN BUTTON</button>

  <input type="submit" class="btn green small">

  <input type="reset" class="btn red small">

  <div class="view-code">
    <a class="view-code-link">View Code</a>

{% highlight html %}
<a class="btn default large">large button</a>

<button class="btn purple">MOTHAFUCKIN BUTTON</button>

<input type="submit" class="btn green small">

<input type="reset" class="btn red small">
{% endhighlight %}
  </div>
</div>

<h2 class="section-title">Disabled Buttons</h2>
<div class="section">
  <p>
  For when you want a button, but don't want it to be clickable. Add class <code>.disabled</code>.
  </p>

  <a class="btn large disabled">large button</a>

  <button class="btn disabled">MOTHAFUCKIN BUTTON</button>

  <input type="submit" class="btn small disabled">

  <input type="reset" class="btn small disabled">

  <div class="view-code">
    <a class="view-code-link">View Code</a>

{% highlight html %}
<a class="btn large disabled">large button</a>

<button class="btn disabled">MOTHAFUCKIN BUTTON</button>

<input type="submit" class="btn small disabled">

<input type="reset" class="btn small disabled">
{% endhighlight %}
  </div>
</div>
