<a id="how-to-use"></a>
<h2 class="section-title">How to use</h2>

<div class="section">
  <p><a href="https://github.com/wtfluckey/style-guide" target="blank">View on Github</a></p>
  <p>Install the style guide into your project with Bower:</p>

  <p><code>bower install wtfluckey/style-guide</code></p>

  <p>Then <code>@import</code> the style guide SCSS into your application's SCSS manifest:</p>

{% highlight scss %}
// application.scss
@import "bower_components/style-guide/src/scss/style-guide.scss";
{% endhighlight %}
</div>
