<a id="typography"></a>
<h2 class="section-title">Headings</h2>
<div class="section">
  <h1>h1. This is an h1</h1>
  <h2>h2. This is an h2</h2>
  <h3>h3. This is an h3</h3>
  <h4>h4. This is an h4</h4>
  <h5>h5. This is an h5</h5>
  <h6>h6. This is an h6</h6>

  <div class="view-code">
{% highlight html %}
<h1>h1. This is an h1</h1>
<h2>h2. This is an h2</h2>
<h3>h3. This is an h3</h3>
<h4>h4. This is an h4</h4>
<h5>h5. This is an h5</h5>
<h6>h6. This is an h6</h6>
{% endhighlight %}
  </div>
</div>

<h2 class="section-title">Body Text</h2>
<div class="section">
  <h3>Text in a <code>p</code> tag</h3>

  <p>This is a paragraph. It has margin-bottom by default.</p>

  <div class="view-code">
{% highlight html %}
<p>This is a paragraph in a p tag.</p>
{% endhighlight %}
  </div>
</div>

<div class="section">
  <h3>Text in a <code>span</code> tag</h3>
  <span>Span paragraph with no margin-bottom. It is wrapped in a span tag rather than a p tag. It is an inline element which means it will butt up against other inline elements. <a href="https://jsfiddle.net/1khmmkg9/" target='blank'>Block vs Inline Example</a></span>

  <div class="view-code">
{% highlight html %}
<span>This is a paragraph in a span tag.</span>
{% endhighlight %}
  </div>
</div>

<h2 class="section-title">Font Weights</h2>
<div class="section">
  <p class="font-weight-100">
    Font weight 100
  </p>

  <p class="font-weight-200">
    Font weight 200
  </p>

  <p class="font-weight-300">
    Font weight 300
  </p>

  <p class="font-weight-400">
    Font weight 400
  </p>

  <p class="font-weight-500">
    Font weight 500
  </p>
</div>

<h2 class="section-title">Lists</h2>
<div class="section">
  <h3>Unordered List</h3>
  <p>
    For list items where order doesn't matter. Has bullets by default. These are wrapped in a <code>ul</code> tag.
  </p>
  <ul>
    <li>list item 1</li>
    <li>list item 2</li>
    <li>list item 3</li>
  </ul>

  <div class="view-code">
{% highlight html %}
Unordered List
<ul>
  <li>list item 1</li>
  <li>list item 2</li>
  <li>list item 3</li>
</ul>
{% endhighlight %}
  </div>
</div>

<div class="section">
  <h3>Ordered List</h3>
  <p>
    For list items where order DOES matter. Has numbers by default. These are wrapped in a <code>ol</code> tag.
  </p>
  <ol>
    <li>list item 1</li>
    <li>list item 2</li>
    <li>list item 3</li>
  </ol>

  <div class="view-code">
{% highlight html %}
Ordered List
<ol>
  <li>list item 1</li>
  <li>list item 2</li>
  <li>list item 3</li>
</ol>
{% endhighlight %}
  </div>
</div>

<div class="section">
  <h3>Mixed Nested List</h3>
  <p>
    You can nest lists inside each other. This works for both ordered and unordered lists.
  </p>
  <ol>
    <li>list item 1
      <ul>
        <li>additional list item 1</li>
        <li>additional list item 2</li>
        <li>additional list item 3</li>
      </ul>
    </li>
    <li>list item 2</li>
    <li>list item 3</li>
  </ol>

  <div class="view-code">
{% highlight html %}
Mixed Nested List
<ol>
  <li>list item 1
    <ul>
      <li>additional list item 1</li>
      <li>additional list item 2</li>
      <li>additional list item 3</li>
    </ul>
  </li>
  <li>list item 2</li>
  <li>list item 3</li>
</ol>
{% endhighlight %}
  </div>
</div>

<div class="section">
  <h3>List with no bullets or numbers</h3>
  <p>
    Add class <code>.no-bullets</code> to any list so that the bullets or numbers don't show. This class also takes away the margin on the left side.
  </p>
  <ul class="no-bullets">
    <li>list item 1</li>
    <li>list item 2</li>
    <li>list item 3</li>
  </ul>

  <div class="view-code">
{% highlight html %}
<ul class="no-bullets">
  <li>list item 1</li>
  <li>list item 2</li>
  <li>list item 3</li>
</ul>
{% endhighlight %}
  </div>

  <ol class="no-bullets">
    <li>list item 1</li>
    <li>list item 2</li>
    <li>list item 3</li>
  </ol>

  <div class="view-code">
{% highlight html %}
<ol class="no-bullets">
  <li>list item 1</li>
  <li>list item 2</li>
  <li>list item 3</li>
</ol>
{% endhighlight %}
  </div>
</div>

<h3 class="section-title">Blockquotes</h3>
<div class="section">

  <blockquote>
    This is a blockquote apparently.
  </blockquote>

  <div class="view-code">
{% highlight html %}
<blockquote>
  This is a blockquote apparently.
</blockquote>
{% endhighlight %}
  </div>
</div>
