<a id="updating" class="js-anchor"></a>
<h2 class="section-title">Updating</h2>

<div class="section">
  <h2>Using Bower (such as with ember-cli)</h2>
  <p>To get the latest version of the style guide, update using Bower:</p>

{% highlight bash %}
$ bower update style-guide
{% endhighlight %}
</div>

<div class="section">
  <h2>Using bower-rails (with Rails apps)</h2>
  <p>To get the latest version of the style guide, update using the Bower Rake task:</p>

{% highlight bash %}
rake bower:update
{% endhighlight %}
</div>
