.no-bullets {
  list-style-type: none;
  margin-left: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.centered {
  text-align: center;
}

// CONTAINER AND GRID

.container {
  max-width: 980px;
  width: 100%;
  margin: auto;
}

.row {
  @include row;
}


.one-fifth {
  @include span-columns(2);
}

.four-fifths {
  @include span-columns(10);
  @include omega();
}

.one-fourth {
  @include span-columns(3);
}

.three-fourths {
  @include span-columns(9);
  @include omega();
}

.one-third {
  @include span-columns(4);
}

.two-thirds {
  @include span-columns(8);
  @include omega();
}

.one-half {
  @include span-columns(6);
}

// END CONTAINER AND GRID


// BUTTONS
//

@mixin button($color) {
  display: inline-block;
  background: $color;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 15px;
  border: none;
  color: $white;
  cursor: pointer;
  font-size: 14px;
  font-family: $base-font-family;
  line-height: $base-line-height;
  font-weight: 100;
  text-align: center;
  @include transition(background .2s);

  &:hover {
    text-decoration: none;
    color: white;
    background: darken($color, 5%);
    @include transition(background .2s);
  }
}

.btn {
  &.default {
    @include button($blue);
  }

  &.orange {
    @include button($orange);
  }

  &.purple {
    @include button($purple);
  }

  &.green {
    @include button($green);
  }

  &.red {
    @include button($red);
  }

  &.large {
    padding: 20px 40px;
  }

  &.small {
    padding: 5px 15px;
  }
}
