.section {
  margin: 40px 0;
  background: #fff;
  padding: 30px;
}

.section-title {
  font-size: 30px;
  text-align: center;
}


.view-code {
  text-align: center;
}

.highlight {
  display: none;
  text-align: left;
}
