.section {
  margin: 40px 0;
  background: $white;
  padding: 30px;
}

.section-title {
  font-size: 30px;
  text-align: center;
}

.view-code {
  text-align: center;
  margin-top: 20px;
}

.highlight {
  text-align: left;
}

.centered {
  text-align: center;
}

.color-swatch-wrap {
  width: 120px;
  display: inline-block;
  margin: 0 30px;
}

.color-swatch {
  height: 100px;
  width: 120px;
  display: inline-block;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  .color-swatch-hover {
    display: none;
  }

  &:hover {
    .color-swatch-hover {
      display: inline-block;
    }
  }
}

.color-swatch-info {
  text-align: left;
  font-size: 13px;
  padding: 5px 0 5px 10px;
  margin-top: -7px;
  background: $lightest-grey;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 2px solid $light-grey;

  p {
    margin-bottom: 0;
  }
}

* {
  &.blue {
    background: $blue;
  }

  &.red {
    background: $red;
  }

  &.yellow {
    background: $yellow;
  }

  &.green {
    background: $green;
  }

  &.purple {
    background: $purple;
  }

  &.orange {
    background: $orange;
  }
}

.grid-example {
  .row {
    margin-bottom: 20px;
  }
  .column {
    border: 1px solid #9854D8;
    background-color: lighten(#9854D8, 30%);
    padding: 10px;
    border-radius: 5px;
  }
}

.sidebar-list {
  position: fixed;
}

.content {
  margin-left: 200px;
}

.site-title {
  outline: none;
}

.site-header {
  .github-link {
    padding-top: 15px;
    padding-right: 25px;
  }
}

nav {
  a {
    display: inline-block;
    padding: 10px 0;
    border-bottom: 3px solid transparent;

    &.active {
      border-bottom: 3px solid $purple;

    }
  }
}


