// COLOR VARIABLES

$white: #fff;
$black: #333;

$blue: #02BCDD;
$red: #e74c3c;
$yellow: #f1c40f;
$green: #2ecc71;
$purple: #8e44ad;
$orange: #f39c12;

// GREYS - ORDERED LIGHTEST TO DARKEST

$lightest-grey: #f7f7f7;
$light-grey: #cecece;
